.news {
	margin-top: 100px;
	text-align: center;
	&__title {
		position: relative;
		font-size: 40px;
		font-weight: 900;

		&::after {
			content: "НОВИНИ ТА ОНОВЛЕННЯ";
			font-family: "Gothic A1", Helvetica;
			text-align: center;
			font-size: 90px;
			font-weight: 900;
			color: transparent;
			position: absolute;
			top: 0px;
			width: 100%;
			left: 50%;
			transform: translate(-50%);
			z-index: -1;
			-webkit-text-stroke: 1px #ffffff1a;
		}
	}
	&__wrapper{
		display: flex;
		flex-wrap: wrap;
		margin-top: 80px;
		gap: 44px;
		padding: 0 100px;
	}
}
